/* ListPage.scss */

.admin-container {
  // width: 95%;
  background-color: #f5f5f5;
  // border-radius: 8px;
  padding: 16px;
  height: 100vh;
  .add-category-button {
    color: black;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;

    &.hover {
      background-color: #2980b9;
    }



  }


  .select-workspaces {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
  }

  .list-container {
    width: 95%;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 16px;
    max-height: 60vh;
    overflow: scroll;
  


    .category-item {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
      border-left: 0.5px solid blue;


      .category-report-container {
        margin-left: 16px;

        .report-item {
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-bottom: 8px;
          padding: 8px;
          cursor: pointer;
          border-left: 4px solid skyblue;
    padding-left: 8px;

          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
      .subcategory-container {
        margin-left: 16px;
       
        .button-container {
          display: flex;
          // justify-content: center;
          gap: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        .add-report-button,
        .add-subcategory-button {
          // background-color: #3498db;
          color: black;
          border: none;
          padding: 10px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
          border-radius: 5px;
          transition: background-color 0.3s;
          display: flex;
          align-items: center;
          border: 1px solid #ccc;
        }

        .add-report-button:hover,
        .add-subcategory-button:hover {
          background-color: #2980b9;
        }

        .add-report-button>svg,
        .add-subcategory-button>svg {
          margin-right: 8px;
        }

        .subcategory-item {
          position: relative;
          // border: 1px solid #ccc;
          border-radius: 4px;
          cursor: pointer;
          border-left: 0.5px solid blueviolet;
          margin-bottom: 5px;
  
          &:hover {
            background-color: #e0e0e0;
          }




          .report-container {
            margin-left: 16px;

            .report-item {
              border: 1px solid #ccc;
              border-radius: 4px;
              margin-bottom: 8px;
              margin-left: 16px;
              padding: 8px;
              cursor: pointer;
              border-left: 4px solid skyblue;
              padding-left: 8px;
              &:hover {
                background-color: #e0e0e0;
              }
            }
          }
        }
      }
    }

    .add-category-button {
      color: black;
      border: none;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
      display: flex;
      align-items: center;
      border: 1px solid #ccc;

      &.hover {
        background-color: #2980b9;
      }



    }

  

    .category-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ccc;
      margin-bottom: 8px;
      border-left: 8px solid blue;
    padding-left: 8px;
    }
    .subcategory-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ccc;
      margin-bottom: 8px;
      border-left: 6px solid blueviolet;
      padding-left: 8px;
    }

    .icon-container {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 8px;
        cursor: pointer;
      }
    }

    .menu-container {
      position: fixed;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
      z-index: 999;
    }
  }

}